body {
  background: #EEE;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #e7e7e7;
}

.app-body {
  padding: 5em;
}

* {
  box-sizing: border-box;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
}
.cards .card {
  width: 250px;
  margin-bottom: 20px;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 2px 2px 4px 0 #ccc;
}
.cards .card .card-content {
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #607EA4;
}
.cards .card .card-content.height-med {
  height: 250px;
}
.cards .card .card-content.height-lg {
  height: 325px;
}
