body {
  background: #EEE;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #e7e7e7;
}

.app-body {
  padding: 5em;
}

* {
  box-sizing: border-box;
}

.my-pins:hover {
  background-color: #e7e7e7;
}

.add-pin {
  margin-right: 10px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
}
.cards .card {
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0 #ccc;
}

.card:hover {
  box-shadow: 0px 4.5px 4px 0 rgba(0,0,0,0.4);
}

.cards .card .card-img {
  max-width: 244px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #ccc;
}

.cards .card .card-img img {
  max-width: 100%;
  max-height: 100%;
}

.cards .card .card-title {
  width: 244px;
  height: 30px;
  border: border: 2px solid gray;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding-top: 11px;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
}

.cards .card .card-bot {
  width: 244px;
  height: 50px;
  border: border: 2px solid gray;
  vertical-align: middle;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin: 2px;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
}

.cards .card .card-content {
  min-height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #607EA4;
}

.cards .card .card-content .card-bot {
  width: 250px;
  height: 35px;
  border: border: 1px solid gray;
}

.user-img img {
  width: 35px;
  height: 35px;
  border: border: 1px solid gray;
  margin-left: 5px;
}

.like-button {
  margin-left: 155px;
}

.like-button button {
  height: 30px;
}

.cards .card .card-content.height-med {
  height: 250px;
}
.cards .card .card-content.height-lg {
  height: 325px;
}
